    <main class="detail_wrap">
        <section>
            <article class="event_img">
                <h1>PicCance Package</h1>
            </article>
        </section>
        <section class="event_sec1440">
            <article class="e_inner e_icons">
                <h2>이벤트 상세 혜택</h2>
                <div>
                    <span class="material-symbols-outlined"><a href="">print</a></span>
                    <span class="material-symbols-outlined"><a href="">share</a></span>
                </div>
            </article>
        </section>
        <section class="event_sec1440">
            <article class="e_inner">
                <div class="e_all_wrap">
                    <div class="e_left_box">
                        <img src="../img/hotel_plan_20220405171919_lg_pc.jpg">
                    </div>
                    <div class="e_right_box">
                        <h2>PicCance Package</h2>
                        <h3>이벤트 기간 2022.04.06 - 선착순</h3>
                    <div>
                    <div class="e_txt_intro">
                        <p>밀레니엄 힐튼 서울이 탁 트인 야외에서 여유로운 스테이케이션을 즐길 수 있는</p>
                        <p>‘픽캉스 (피크닉 + 호캉스) 패키지’를 선보입니다. </p>
                        <p>호텔을 마주보는 남산 공원에서 보다 쾌적한 피크닉을 즐길 수 있도록</p>
                        <p>호텔에서 특별 제작한 피크닉 매트와 에코백을 제공합니다. </p>
                    </div>
                    <div class="e_txt_notice">
                    </div>
                </div>        
            </article>
            <article class="e_inner">
                <div class="e_border">
                    <div class="e_notice_area">
                        <div class="e_detail_area">
                            <h3>유의사항</h3>
                            <span>
                                <p>예약 기간: 2022년 4월 6일부터 선착순 판매</p>
                                <p>투숙 기간: 2022년 4월 16일부터 11월 30일까지</p>
                                <p>이용 가격: 모든 객실 타입 대상 당일 최적가 요금에 7만 원 추가 시 이용 가능 </p>
                                <p>투숙일로부터 최소 3일 전 예약 필수</p>
                                <p>예약 취소 및 변경은 체크인 3일 전까지 가능</p>
                                <p>상기 패키지 내용은 호텔 사정에 따라 예고 없이 변동 가능</p>
                            </span>
                        </div>
                        <div class="e_num_area">
                            <h3>문의사항</h3>
                            <span>
                                <p>객실 예약과 (02) 317-3000)</p>
                            </span>
                        </div>
                </div>
                
            </article>
        </section>
        <article class="e_detail_more">
            <div>
                <button id="e_btn" type="button" onclick="javascript:location.href='/event'">
                    LIST
                </button>
            </div>
        </article>
    </main>