
    <main class="tea_wrap">
        <section>
            <article class="event_img_tea">
                <h1>Summer Blue Afternoon Tea Set</h1>
            </article>
        </section>
        <section class="event_sec1440">
            <article class="e_inner e_icons">
                <h2>이벤트 상세 혜택</h2>
                <div>
                    <span class="material-symbols-outlined"><a href="">print</a></span>
                    <span class="material-symbols-outlined"><a href="">share</a></span>
                </div>
            </article>
        </section>
        <section class="event_sec1440">
            <article class="e_inner">
                <div class="e_all_wrap">
                    <div class="e_left_box">
                        <img src="../img/hotel_plan_20220513113105_lg_pc.jpg">
                    </div>
                    <div class="e_right_box">
                        <h2>Summer Blue Afternoon Tea Set</h2>
                        <h3>이벤트 기간 2022.06.01 - 2022.08.31</h3>
                    <div>
                    <div class="e_txt_intro">
                        <p>밀레니엄 힐튼 서울 메인 로비 층에 위치한 델리카트슨 실란트로 델리에서 </p>
                        <p>맑은 여름 하늘빛과 바다를 고스란히 담은 '썸머 블루 애프터눈 티'를 만나보세요. </p>
                        <p>오션 글레이즈 도넛, 해변 크럼블 티라미수, 씨쉘 초콜릿 등 청량한 여름바다를 닮은 달콤한 디저트는 물론,</p>
                        <p>캐비어가 올라간 가리비 카나페, 스모크 연어롤, 망고 프로슈토 롤 등</p>
                        <p>세이보리 아이템으로 구성된 '썸머 블루' 애프터눈 티로 올 여름을 더욱 특별하게 맞이해 보세요!</p>
                    </div>
                    <div class="e_txt_notice">
                    </div>
                </div>        
            </article>
            <article class="e_inner">
                <div class="e_border">
                    <div class="e_notice_area">
                        <div class="e_detail_area">
                            <h3>유의사항</h3>
                            <span>
                                <p>가격: 성인 1인 4만 9천원</p>
                                <p>운영 시간(주중) 11:00 - 20:00</p>
                                <p>운영 시간(주말 및 공휴일) 1부 11:00 - 15:00</p>
                                <p>운영 시간(주말 및 공휴일) 2부 15:00 - 20:00</p>
                                <p>보가 모스카토 프리잔테-스파클링 와인(750 ml) 1병 주문 시, 3만원 추가</p>
                                <p>※ 재고 상황에 따라 추후 변경될 수 있습니다</p>
                                <p>좌석은 예약 시 선착순으로 배정되어 안내될 수 있습니다.</p>
                            </span>
                        </div>
                        <div class="e_num_area">
                            <h3>문의사항</h3>
                            <span>
                                <p>02-317-3290 (09:00 - 21:00)</p>
                                <p>그 외 영업시간 내 02-317-3064</p>
                            </span>
                        </div>
                </div>
                
            </article>
        </section>
        <article class="e_detail_more">
            <div>
                <button id="e_btn" type="button" onclick="javascript:location.href='/event'">
                    LIST
                </button>
            </div>
        </article>
    </main>