
    <main class="all_wrap">
        <section class="event_sec1440">
            <article class="e_innerbox">
                <div class="e_inner_txt">
                    <h1>EVENT</h1>
                    <p>밀레니엄 힐튼의 시그니처 이벤트로 사랑하는 사람과 함께 럭셔리한 하루를 만들어보세요.</p>
                </div>
            </article>
        </section>
        <section class="event_sec1440 e_searchBox">
            <article class="e_innerbox">
                <div class="e_search_wrap">
                    <div class="e_search_left">
                        <div class="e_first" id="e_first">
                            <input type="text" value="" name="e_date_start" title="검색 시작일" placeholder="YYYY-MM-DD" readonly="" id="e_date_start" class="e_date_start">
                            <span class="material-symbols-outlined">calendar_month</span> 
                        </div>
                        <div class="e_last" id="e_last">
                            <input type="text" value="" name="e_date_end" title="검색 종료일" placeholder="YYYY-MM-DD" readonly="" id="e_date_end" class="e_date_end">
                            <span class="material-symbols-outlined">calendar_month</span>
                        </div>
                    </div>
                    <div class="e_seach_right">
                        <input type="text" id="e_date_search" name="e_date_search" value="" title="검색어 입력" placeholder="검색어를 입력해주세요." class="e_date_search">
                        <button type="button" class="e_search" onclick=""><a href="">SEARCH</a></button>
                    </div>
                </div>
            </article>
        </section>
        <section class="event_sec1440">
            <article class="e_innerbox">
                <select required name="content">
                    <option value="title">추천순</option>
                    <option value="content">조회순</option>
                    <option value="title+content">인기순</option>
                </select>
            </article>
            <article class="e_innerbox" id="js-load">
                <div class="figure_wrap">
                    <figure class="js-load">
                        <div>
                            <a href="event_detail_pic"><img src="../img/hotel_plan_20220405171919_lg_pc.jpg" alt=""></a>
                        </div>
                        <a href="event_detail_pic">
                        <div class="figure_txt">
                            <figcaption>PicCance Packagece Package</figcaption>
                            <p>도심 속 감성 피크닉, 픽캉스 패키지</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.04.16 - 2022.11.30</em>
                                    <span>70,000원</span>
                                </div>
                        </div>
                        </a>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href="event_detail_tea_set"><img src="../Img/hotel_plan_20220513113105_lg_pc.jpg" alt=""></a>
                        </div>
                        <a href="event_detail_tea_set">
                        <div class="figure_txt">
                            <figcaption>Summer Blue Afternoon Tea Set</figcaption>
                            <p>썸머 블루 애프터눈 티</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.06.01 - 2022.08.31</em>
                                    <span>49,000원</span>
                                </div>
                        </div>
                        </a>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../img/hotel_plan_20220506164319_lg_pc.jpg" alt=""></a>
                        </div>
                        <a href="">
                        <div class="figure_txt">
                            <figcaption>BBQ buffet on the outdoor terrace</figcaption>
                            <p>오크룸 야외테라스에서 즐기는 BBQ 부페</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.05.03 ~</em>
                                    <span>65,000원</span>
                                </div>
                        </div>
                        </a>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../img/hotel_plan_20220401180902_lg_pc.jpg" alt=""></a>
                        </div>
                        <div class="figure_txt">
                            <figcaption>Cilantro Deli Specialty Bingsu</figcaption>
                            <p>실란트로 델리,스페셜티 빙수</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.06.01 ~</em>
                                    <span>45,000원</span>
                                </div>
                        </div>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../Img/hotel_plan_20200701173926_lg_pc.jpg" alt=""></a>
                        </div>
                        <div class="figure_txt">
                            <figcaption>Oak Room Jazz Night</figcaption>
                            <p>감미로운 오크룸 재즈 나잇</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.01.31 ~</em>
                                    <span></span>
                                </div>
                        </div>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../Img/hotel_plan_20220401152403_lg_pc.jpg" alt=""></a>
                        </div>
                        <div class="figure_txt">
                            <figcaption>Australian Wine Promotion</figcaption>
                            <p>호주 와인 프로모션</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.01.31 ~</em>
                                    <span></span>
                                </div>
                        </div>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../img/hotel_plan_20220420134117_lg_pc.jpg" alt=""></a>
                        </div>
                        <div class="figure_txt">
                            <figcaption>Nagoya-Style Grilled Eel Rice Bowl Special</figcaption>
                            <p>나고야식 장어 덮밥</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.01.31 ~</em>
                                    <span>70,000원</span>
                                </div>
                        </div>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../Img/hotel_plan_20220404180725_lg_pc.jpg" alt=""></a>
                        </div>
                        <div class="figure_txt">
                            <figcaption>Bistro 50, Special Pairing Set</figcaption>
                            <p>Bistro 50, 스페셜 페어링 세트</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.01.31 ~</em>
                                    <span>160,000원</span>
                                </div>
                        </div>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../Img/hotel_plan_20210209114614_lg_pc.jpg" alt=""></a>
                        </div>
                        <div class="figure_txt">
                            <figcaption>Gourmet To Go at Cilantro Deli</figcaption>
                            <p>고메투고</p>
                                <div class="e_date">
                                    <p>시간</p>
                                    <em>매일 08:00 - 21:00</em>
                                    <span>160,000원</span>
                                </div>
                        </div>
                    </figure>
                    <figure class="js-load">
                        <div>
                            <a href=""><img src="../Img/hotel_plan_20210517123844_lg_pc.jpg" alt=""></a>
                        </div>
                        <div class="figure_txt">
                            <figcaption>Teppanyaki Special Course</figcaption>
                            <p>구상노사카바 테판야키</p>
                                <div class="e_date">
                                    <p>기간</p>
                                    <em>2022.01.31 - 2022.12.31</em>
                                    <span>100,000원</span>
                                </div>
                        </div>
                    </figure>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                </div>
            </article>
            <article class="e_more">
                    <button id="js-btn-wrap" class="btn-wrap" type="button">MORE</button>
            </article>
            <div class="event_fix_btn" id="event_side">
                <button onclick="topFunction()">TOP</button>
            </div>
        </section>
    </main>
    <script src="../JS/event.js"></script>