<main class="intro">
    <section class="w1200 intro_title">
        <h1>ABOUT US</h1>
        <div class="info_txtbox">
            <p>
                <span>자연과 어우러진 도심 속 고급스러운 휴식 공간</span>
                <span>밀레니엄 힐튼 서울입니다.</span>
            </p>
            <p>
                <span>서울의 중심에 위치한 밀레니엄 힐튼 서울에서 </span>
                <span>비즈니스, 문화, 역사, 쇼핑을 만끽하시길 바랍니다.</span>
            </p>
        </div>
    </section>
    <section class="w1200 value_wrap">
        <article class="sub_title">
            <h2>힐튼의 가치</h2>
            <div class="info_txtbox">
                <p>
                    <span>“호텔”을 대표하는 브랜드 “HILTON”</span>
                    <span>이름 그 자체로 가치를 증명합니다.</span>
                </p>
            </div>
        </article>
        <ul>
            <li>
                <h3>H</h3>
                <p>
                    <em>H</em>OSPITALITY
                </p>
                <div>
                    <span>힐튼은</span>
                    <span>고객에게</span>
                    <span>최고의 경험을</span>
                    <span>선사하고자</span>
                    <span>항상 최선을</span>
                    <span>다합니다.</span>
                </div>
            </li>
            <li>
                <h3>I</h3>
                <p>
                    <em>I</em>NTEGRITY
                </p>
                <div>
                    <span>힐튼은</span>
                    <span>항상 옳은 일을</span>
                    <span>합니다.</span>
                </div>
            </li>
            <li>
                <h3>L</h3>
                <p>
                    <em>L</em>EADERSHIP
                </p>
                <div>
                    <span>힐튼은</span>
                    <span>호텔 업계의</span>
                    <span>리더이자</span>
                    <span>지역사회의 </span>
                    <span>리더입니다.</span>
                </div>
            </li>
            <li>
                <h3>T</h3>
                <p>
                    <em>T</em>EAMWORK
                </p>
                <div>
                    <span>힐튼은</span>
                    <span>모든 일을</span>
                    <span>협력하여</span>
                    <span>진행합니다.</span>
                </div>
            </li>
            <li>
                <h3>O</h3>
                <p>
                    <em>O</em>WNERSHIP
                </p>
                <div>
                    <span>힐튼은</span>
                    <span>주체적으로</span>
                    <span>결정하고</span>
                    <span>행동합니다.</span>
                </div>
            </li>
            <li>
                <h3>N</h3>
                <p>
                    <em>N</em>OW
                </p>
                <div>
                    <span>힐튼은</span>
                    <span>원칙을 가지고</span>
                    <span>민첩하게</span>
                    <span>움직입니다.</span>
                </div>
            </li>
        </ul>
    </section>
    <section class="w1200 service_wrap">
        <article class="sub_title">
            <h2>힐튼의 서비스</h2>
            <div class="info_txtbox">
                <p>
                    <span>세계적인 호텔로 자리잡은</span>
                    <span>힐튼 호텔 100년의 노하우를 담아</span>
                    <span>특별한 서비스를 선사합니다.</span>
                </p>
                <div>
                    <p>
                        <span>밀레니엄 힐튼 서울은 1983년에 대한민국의 수도,</span>
                        <span>그 중에서도 서울의 중심에 자리잡은</span>
                        <span>5성급 호텔입니다.</span>
                    </p>
                    <p>
                        <span>다이나믹한 서울의 전경과 고급스러운 인테리어</span>
                        <span>그리고 고객의 니즈를 만족시킬 다양한 서비스가</span>
                        <span>이곳 밀레니엄 서울 힐튼에서 시작됩니다.</span>
                    </p>
                </div>
            </div>
        </article>
        <article class="service_img_wrap">
            <div class="service_left">
                <img>
                <div class="info_txtbox mt30">
                    <div>
                        <p class="mb8">남산 기슭에 자리 잡은 밀레니엄 힐튼 서울은</p>
                        <p class="mb8">대한민국의 서울의 비즈니스,문화,역사,쇼핑의</p>
                        <p>중심부에 위치하고 있습니다.</p>
                    </div>
                    <div class="mt20">
                        <p class="mb8">도심 속 여유로움을 느낄 수 있는 휴식공간부터</p>
                        <p class="mb8">성공적인 비즈니스를 위한 비즈니스 센터</p>
                        <p class="mb8">그리고 평생에 한번 뿐인 웨딩까지</p>
                        <p>모두 밀레니엄 힐튼 서울에서 즐겨보세요.</p>
                    </div>
                </div>
            </div>
            <div class="service_right"></div>
        </article>
    </section>
    <section class="hotel_resort">
        <article class="sub_title">
            <h2>HILTON HOTEL & RESORT</h2>
            <div class="info_txtbox">
                <p>
                    <span>힐튼 호텔 & 리조트 (Hilton Hotel & Resort)는</span>
                    <span>힐튼월드와이드를 대표하는</span> 
                    <span>글로벌 리딩 호텔 브랜드 입니다.</span>
                </p>
                <div class="mt20">
                    <p>
                        <span>전 세계 비즈니스 및 레저 여행객들을 대상으로</span>
                        <span>고객의 요구를 충족하는 제품과</span>
                        <span>진정성 있는 서비스를 통해</span>
                    </p>
                    <p>
                        <span>모든 고객이 대접받고 존중 받는다고</span>
                        <span>느낄 수 있는 경험을 제공합니다.</span>
                    </p>
                </div>
            </div>
            <div class="resort_logo">
                <div></div>
            </div>
        </article>
    </section>
    <div class="fix_btn" id="intro_side">
        <button onclick="topFunction()">TOP</button>
    </div>
</main>
<script src="../js/intro.js"></script>