<main>
    <form class="join">
        <section class="w1200">
            <article class="join_title">
                <h2>회원가입</h2>
                <div class="join_route">
                    <figure>
                        <div class="join_circle">1</div>
                        <figcaption>약관동의</figcaption>
                    </figure>
                    <figure>
                        <div class="join_circle">2</div>
                        <figcaption>회원정보입력</figcaption>
                    </figure>
                    <figure>
                        <div class="join_circle active_join">3</div>
                        <figcaption>가입완료</figcaption>
                    </figure>
                </div>
            </article>
            <article class="join_content">
            <h5>
                회원가입이 
                <span>완료되었습니다.</span>
            </h5>
            <p>이제 힐튼의 <span>최근 소식과 이벤트, 여행정보 등</span>
            <span>다양한 정보와 서비스를</span>
            <span>제공받으실 수 있습니다.</span>
            </p>
            <div class="complete_btn">
                <input type="button" value="LOGIN" onclick="javascript:location.href='/login'">
                <input type="button" value="MAIN" onclick="javascript:location.href='/'">
            </div>
            </article>
        </section>
    </form>
</main>