<main>
<div class="location">
    <section class="location_title">
        <h1>LOCATION</h1>
    </section>
    <section class="w1200">
        <article class="location_sub_title">
            <h2>오시는 길</h2>
            <div class="mtitle_info">
                <div class="mtitle_txt">
                    <p>
                        <span>밀레니엄 힐튼 서울은 대한민국의 수도이자</span>
                        <span>메트로폴리탄 서울의 중심부,</span>
                        <span>아름다운 남산 기슭에 위치하고 있습니다.</span>
                    </p>
                    <p>
                        <span>또한, 도보 5분 거리에 서울역이 있어</span>
                        <span>서울의 주요 지역 및 공항에</span>
                        <span>편리하게 접근할 수 있습니다.</span>
                    </p>
                </div>
                <div class="mtitle_icon">
                    <div><a href="#" class="share_icon"></a></div>
                    <div><a href="#" class="print_icon"></a></div>
                </div>
            </div>
        </article>
        <article class="location_tab">
            <ul class="tabs">
                <li id="btn1" rel="map" class="locationTab">힐튼 위치안내</li>
                <li rel="train" id="btn2" class="locationTab">공항에서 대중교통 이용</li>
                <li rel="taxi" id="btn3" class="locationTab">공항에서 자동차 이용</li>
                <li rel="walk" id="btn4" class="locationTab">서울역에서 오시는 길</li>
            </ul>
        </article>
        <article id="map" class="locationMap">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.993005396246!2d126.97359001562174!3d37.55522857980002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca25e29fbe843%3A0xcc66e35fd94ed149!2z67CA66CI64uI7JeEIO2ekO2KvCDshJzsmrg!5e0!3m2!1sko!2skr!4v1653525685839!5m2!1sko!2skr"></iframe>
            </div>
            <ul id="aroudnList">
                <li id="aroundListImg">
                    <div id="front" class="casino">
                        <p class="around_title">HILTON HOTEL</p>
                        <div id="back">
                            <div>
                                <h3>HILTON HOTEL</h3>
                                <ul>
                                    <li>Seven Luck 카지노</li>
                                    <li>LBB SPA</li>
                                    <li>실내수영장</li>
                                    <li>이그제큐티브 헬스클럽</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="aroundListImg">
                    <div id="front" class="SUBURB">
                        <p class="around_title">SUBURB</p>
                        <div id="back">
                            <div>
                                <h3>SUBURB</h3>
                                <ul>
                                    <li>롯데월드 16.0 km / 9.94 miles</li>
                                    <li>어린이 대공원 10.0 km / 6.21 miles</li>
                                    <li>올림픽 공원 18.0 km / 11.18 miles</li>
                                    <li>에버랜드 47.0 km / 29.20 miles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="aroundListImg">
                    <div id="front" class="ART">
                        <p class="around_title">ART & CULTURE</p>
                        <div id="back">
                            <div>
                                <h3>ART & CULTURE</h3>
                                <ul>
                                    <li>예술의전당 10.0 km / 6.21 miles</li>
                                    <li>리움미술관 4.5 km / 2.79 miles</li>
                                    <li>세종문화회관 3.5 km / 2.17 miles</li>
                                    <li>국립현대미술관 3.5 km / 2.17 miles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="aroundListImg">
                    <div id="front" class="RECREATION">
                        <p class="around_title">RECREATION</p>
                        <div id="back">
                            <div>
                                <h3>RECREATION</h3>
                                <ul>
                                    <li>코엑스 아쿠아리움 14.0 km / 8.69 miles</li>
                                    <li>이태원 4.7 km / 2.92 miles</li>
                                    <li>월드컵경기장 11.0 km / 6.83 miles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="aroundListImg">
                    <div id="front" class="SHOPPING">
                        <p class="around_title">SHOPPING</p>
                        <div id="back">
                            <div>
                                <h3>SHOPPING</h3>
                                <ul>
                                    <li>갤러리아 백화점 8.6 km / 5.34 miles</li>
                                    <li>명동 1.7 km / 1.05 miles</li>
                                    <li>동대문 3.9 km / 2.42 miles</li>
                                    <li>스타필드 하남 32.0 km / 19.88 miles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="aroundListImg">
                    <div id="front" class="TRANSPORTATION">
                        <p class="around_title">TRANSPORTATION</p>
                        <div id="back">
                            <div>
                                <h3>TRANSPORTATION</h3>
                                <ul>
                                    <li>인천국제공항 59.0 km / 36.66 miles</li>
                                    <li>김포국제공항 24.0 km / 14.91 miles</li>
                                    <li>서울역 2.7 km / 1.67 miles</li>
                                    <li>여의도 환승센터 7.6 km / 4.72 miles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="aroundListImg">
                    <div id="front" class="ATTRACTIONS">
                        <p class="around_title">LOCAL ATTRACTIONS</p>
                        <div id="back">
                            <div>
                                <h3>LOCAL ATTRACTIONS</h3>
                                <ul>
                                    <li>경복궁 4.0 km / 2.48 miles</li>
                                    <li>인사동 3.5 km / 2.17 miles</li>
                                    <li>남산타워 2.1 km / 1.30 miles</li>
                                    <li>신사동 가로수길 8.5 km / 5.28 miles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </article>
        <article id="train" class="locationMap train_content" >
            <div class="train_first">
                <h3>
                    <span>인천공항에서 공항철도 이용 </span>
                    <span>(67.5km / 약 70분 소요)</span></h3>
                <div class="route_wrap">
                    <figure class="route">
                        <div class="route_circle">
                            <p>인천공항</p>
                        </div>
                        <figcaption>
                            <p>인천공항역</p>
                            <p>(공항철도)</p>
                        </figcaption>
                    </figure>
                    <figure class="route">
                        <div class="route_circle">
                            <p>서울역</p>
                        </div>
                        <figcaption>
                            <p>서울역</p>
                            <p>(공항철도)</p>
                        </figcaption>
                    </figure>
                    <figure class="route">
                        <div class="route_circle">
                            <p><span>서울역</span>8번출구</p>
                        </div>
                        <figcaption>
                            <p>8번출구</p>
                            <p>(도보이용)</p>
                        </figcaption>
                    </figure>
                    <figure class="route">
                        <div class="route_circle">
                            <p>밀레니엄<span>힐튼서울</span></p>
                        </div>
                        <figcaption>
                            <p>호텔도착</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div>
                <h3><span>김포공항에서 공항철도 이용</span>
                    <span>(25km / 약 40분 소요)</span></h3>
                <div class="route_wrap">
                    <figure class="route">
                        <div class="route_circle">
                            <p>김포공항</p>
                        </div>
                        <figcaption>
                            <p>김포공항역</p>
                            <p>(공항철도)</p>
                        </figcaption>
                    </figure>
                    <figure class="route">
                        <div class="route_circle">
                            <p>서울역</p>
                        </div>
                        <figcaption>
                            <p>서울역</p>
                            <p>(공항철도)</p>
                        </figcaption>
                    </figure>
                    <figure class="route">
                        <div class="route_circle">
                            <p><span>서울역</span>8번출구</p>
                        </div>
                        <figcaption>
                            <p>8번출구</p>
                            <p>(도보이용)</p>
                        </figcaption>
                    </figure>
                    <figure class="route">
                        <div class="route_circle">
                            <p>밀레니엄<span>힐튼서울</span></p>
                        </div>
                        <figcaption>
                            <p>호텔도착</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </article>
        <article id="taxi" class="locationMap taxi_content content_box">
            <h3>서울특별시 중구 소월로 50 (우) 04637</h3>
            <div>
                <h3>인천공항에서 자동차 이용</h3>
                <ul class="howto">
                    <li class="taxi mb30">
                        <h4>&lt;택시 이용&gt;</h4>
                        <p class="mt8">
                            <span>거리 및 예상 소요시간 </span>
                            <span>(67.5km / 60분 / 약 90,000원)</span>
                        </p>
                    </li>
                    <li class="rentcar">
                        <h4>&lt;렌터카 이용&gt;</h4>
                        <p class="mt8">
                            <span>거리 및 예상 소요시간 </span>
                            <span>(67.5km / 60분 / 약 170,000원)</span>
                        </p>
                        <p class="mt8 s_route_wrap">
                            <span class="s_route">인천국제공항고속도로 (37km)</span>
                            <span class="s_route">내부순환로 (6.5km)</span>
                            <span class="s_route">통일로 (5km)</span>
                            <span class="mb8">서울역 사거리에서 '퇴계로,명동'방면으로 직진 후 우회전</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <h3>김포공항에서 자동차 이용</h3>
                <ul class="howto">
                    <li class="taxi mb30">
                        <h4>&lt;택시 이용&gt;</h4>
                        <p class="mt8">
                            <span>거리 및 예상 소요시간 </span>
                            <span>(25km / 40분 / 약 50,000원)</span>
                        </p>
                    </li>
                    <li class="rentcar">
                        <h4>&lt;렌터카 이용&gt;</h4>
                        <p class="mt8">
                            <span>거리 및 예상 소요시간 </span>
                            <span>(25km / 40분 / 약 140,000원)</span>
                        </p>
                        <p class="mt8 s_route_wrap">
                            <span class="s_route">개화동로 (2.1km)</span>
                            <span class="s_route">올림픽대로 (6.3km)</span>
                            <span class="s_route">강변북로 (9.2km)</span>
                            <span>서울역 사거리에서 '퇴계로,명동'방면으로 직진 후 우회전</span>
                        </p>
                    </li>
                </ul>
            </div>
        </article>
        <article id="walk" class="locationMap walk_content content_box" >
            <div>
                <h3>서울역에서 도보 이동</h3>
                <ul class="howto">
                    <li class="walk">
                        <p>
                            <span>거리 및 예상 소요시간 </span>
                            <span>(약500m / 10분)</span>
                        </p>
                        <p class="mt8 s_route_wrap">
                            <span class="s_route">서울역 </span>
                            <span class="s_route">서울역 8번 출구로 나와 직진</span>
                            <span class="s_route">SK빌딩 옆 남산방향 언덕길</span>
                        </p>
                    </li>
                    <li class="walk_map">
                    </li>
                </ul>
            </div>
        </article>
        <div class="fix_btn" id="location_side">
            <button onclick="topFunction()">TOP</button>
        </div>
    </section>
</div>
</main>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../js/location.js"></script>