<main class="login_b">
    <form method="post" action="login">
        <section class="login_sec1440">
            <article class="l_inner">
                <h1>로그인</h1>
                <ul class="login_wrap">
                    <li class="member Ccolor" id="member">회원</li>
                    <li class="nonmem nonCcolor" id="nonmem">비회원(예약확인)</li>
                </ul>
                <div class="tab_wrapper login_content">
                    <div class="login_icon">
                        <span class="id_wrap">
                            <p>ID</p>
                            <input type="text" name="joinid">
                            <span class="material-symbols-outlined">expand_more</span>
                        </span>
                    </div>
                    <div class="pw_icon">
                        <span class="id_wrap">
                            <p>PASSWORD</p>
                            <input type="password" name="joinpw">
                            <span class="material-symbols-outlined">lock</span>
                        </span>
                    </div>
                    <div class="l_enter">
                        <button class="a_login">
                            <p>LOGIN</p>
                        </button>
                    </div>
                    <div class="l_txt">
                        <p><a href="/join_agree">JOIN US </a></p>
                        <span> | </span>
                        <p><a href="">FIND ID and PASSWORD</a></p>
                    </div>
                </div>
                <div class="tab_wrapper2 login_content">
                    <div class="login_icon">
                        <span class="id_wrap">
                            <p>RESERVATION NUMBER</p>
                            <input type="text" >
                            <span class="material-symbols-outlined">expand_more</span>
                        </span>
                    </div>
                    <div class="pw_icon">
                        <span class="id_wrap">
                            <p>PHONE NUMBER</p>
                            <input type="password">
                            <span class="material-symbols-outlined">lock</span>
                        </span>
                    </div>
                    <div class="l_enter">
                        <button class="a_login">
                            <p>LOGIN</p>
                        </button>
                    </div>
                    <div class="l_txt">
                        <p><a href="/join_agree">JOIN US</a></p>
                        <span> | </span>
                        <p><a href="">FIND ID and PASSWORD</a></p>
                    </div>
                </div>
            </article>
        <script src="../js/login.js"></script>
        </section>
    </form>
</main>