<main>
  <section class="img_main">
    <div class="topCont">
      <div class="topimg nam_duplex_img">
        <div class="txtcont">
          <h2>Suite</h2>
          <strong>NAMDAEMOON DUPLEX SUITE</strong>
          <p>
            최상급 귀빈만을 위한 남대문 듀플렉스 스위트(385㎡)는 탁 트인 통
            유리를 통해 사계절의 변화를 느낄 수 있는 남산을 한눈에 바라볼 수
            있으며, 내려다 보이는 서울 시내의 야경은 특히 일품입니다.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="btn_wrap">
    <div class="btn_area">
      <a href="#" class="btn_share" id="share">
        <span class="material-symbols-outlined ft_20"> share </span>공유하기</a
      >
      <a href="#" class="btn_heart">
        <span class="material-symbols-outlined ft_20"> favorite </span>관심상품
        담기</a
      >
      <a href="reservation" class="btn_option">예약하기</a>
    </div>
  </div>
  <section class="f34_w1440">
    <div class="menu_inner">
      <ul>
        <li>
          <dl>
            <dt>LOCATION</dt>
            <br />
            <dd>M10</dd>
            <br />
          </dl>
        </li>
        <li>
          <dl>
            <dt>VIEW</dt>
            <br />
            <dd>City</dd>
            <br />
          </dl>
        </li>
        <li>
          <dl>
            <dt>CHECK IN/OUT</dt>
            <br />
            <dd>16:00 PM - 11:00 AM</dd>
            <br />
          </dl>
        </li>
      </ul>
      <ul>
        <li>
          <dl>
            <dt>BEDS</dt>
            <br />
            <dd>King</dd>
            <br>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Guest</dt>
            <br />
            <dd>1 ~ 4</dd>
            <br>
          </dl>
        </li>
        <li>
          <dl>
            <dt>ROOM FEATURES</dt>
            <br />
            <dd>침실1 화장실2</dd>
            <br>
          </dl>
        </li>
      </ul>
    </div>
    <div class="img_origin nam_duplex_img"></div>
  </section>

  <section class="f34_w1440">
    <p>객실 어매니티</p>
    <ul class="amen_btn tab">
      <li>
        <button class="tablinks active" onclick="openTap(event, 'tab1')">
          Room Highlights
        </button>
      </li>
      <li>
        <button class="tablinks" onclick="openTap(event, 'tab2')">
          Comfortable Amenities
        </button>
      </li>
      <li>
        <button class="tablinks" onclick="openTap(event, 'tab3')">
          Convenience Amenities
        </button>
      </li>
    </ul>
    <div class="amen_menu">
      <ul id="tab1" class="amen_wrap tabcontent" style="display: block">
        <li>수용 인원 5명</li>
        <li>손잡이 샤워기</li>
        <li>화상 방지 샤워부스/욕조</li>
        <li>헤어드라이어</li>
        <li>다리미/다리미판</li>
        <li>미니 바</li>
        <li>커넥팅 룸</li>
        <li>욕실 가운</li>
      </ul>
      <ul id="tab2" class="amen_wrap tabcontent" style="display: none">
        <li>수용 인원 5명</li>
        <li>목욕 가운</li>
        <li>커넥팅 룸</li>
        <li>라디오 알람 시계</li>
        <li>공기 조절</li>
        <li>비데</li>
        <li>설정하기 쉬운 라디오 알람 시계</li>
        <li>욕실의 야간 조명</li>
        <li>TV 표준 네트워크</li>
        <li>온도 조절기(조절 가능)</li>
        <li>조정 가능한 램프가 있는 업무용 책상</li>
      </ul>
      <ul id="tab3" class="amen_wrap tabcontent" style="display: none">
        <li>대형 냉장고</li>
        <li>미니 냉장고</li>
        <li>휴대용 샤워기</li>
        <li>커피 메이커</li>
        <li>헤어 드라이어</li>
        <li>다리미/다리미판</li>
        <li>욕실용품</li>
        <li>미니바</li>
        <li>24시간 하우스키핑</li>
        <li>고속 인터넷 액세스</li>
        <li>객실 내 인터넷 접속</li>
        <li>간이 취사장</li>
        <li>전화 - 자동 깨우기</li>
        <li>전화 - 2회선</li>
        <li>전화 - 2대의 전화</li>
        <li>전화 - 음성 메일</li>
        <li>전화 - 욕실 내</li>
        <li>전화 - 데이터 사용</li>
        <li>전화기 - 스피커폰</li>
      </ul>
    </div>
  </section>

  <section class="f34_w1440">
    <p>기본 서비스</p>
    <div class="service">
      <ul>
        <li>
          <h2>Hilton Wellness Club</h2>
          <p>호텔에서 제공하는 다양한 서비스를 받아보세요.</p>
        </li>
        <li>
          <h2>Digital Concierge</h2>
          <p>
            객실 TV와 테블릿 PC를 통해 다양한 정보를 획득하고 필요한 물품을
            요청해보세요.
          </p>
        </li>
        <li>
          <h2>In Room Dining</h2>
          <p>
            객실에서 호텔 셰프가 선보이는 다양한 룸 서비스 메뉴를
            즐겨보세요.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="f34_w1440">
    <p>특별 서비스</p>
    <ul class="special_service">
      <li>
        <div class="health_img service_img"></div>
        <div class="service_txt">
          <span>Hilton Executive CLUB - FITNESS </span>
          <div class="service_wrap">
            <p>
              이그제큐티브 헬스클럽에서는 최첨단의 하이테크 운동시설을
              갖추고 있으며, 전문 트레이너가 여러분의 균형 있는 체력관리를
              도와 드립니다.
            </p>
            <p>
              위치 힐튼 호텔 서울 2층<br />시간 월-토 06:00 - 22:00 / 일 &
              공휴일 07:00 - 22:00
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="pool_img service_img"></div>
        <div class="service_txt">
          <span>Hilton Executive CLUB - POOL </span>
          <div class="service_wrap">
            <p>
              자동 온도 조절이 가능한 실내 수영장으로 유리 아트리움식으로
              꾸며져 밝은 자연광이 비치는 아래에서 수영을 하실 수 있습니다.
            </p>
            <p>
              위치 힐튼 호텔 서울 3층<br />
              시간 월-토 06:00 - 22:00 / 일&공휴일 07:00 - 22:00
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="spa_img service_img"></div>
        <div class="service_txt">
          <span>Hilton Executive CLUB - SPA</span>
          <div class="service_wrap">
            <p>
              지하 1층 로비에 위치한 월드와이드 스파 브랜드인 ‘LBB SPA’는
              고품격의 전신 스파 케어를 제공하고 있습니다. 'LBB SPA'는 FDA
              승인을 받은 스파장비가 갖춰진 최첨단 스파 시설을 자랑하고
              있습니다.
            </p>
            <p>위치 힐튼 호텔 지하 1층 <br />시간 매일 09:00 - 21:00</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="info">
    <div class="info_wrap">
      <h3>안내사항</h3>
      <div class="info_panel">
        <p>체크인은 15:00, 체크아웃은 12:00시입니다.</p>
        <p>
          체크인 1일 전 23:59까지는 위약금 없이 변경 및 취소 가능합니다.
        </p>
        <p>
          기후변화 또는 천재지변 등의 불가항력적 상황으로 호텔의 정상적
          영업이 불가한 경우, 호텔의 고지 (휴대전화 문자, 홈페이지 게재
          등)에 의하여 예약이 취소되거나 호텔 업장 이용이 제한될 수
          있습니다.
        </p>
        <p>
          코로나19에 따른 사회적 거리두기 정부 시책이 진행될 경우, 사우나 및
          부대시설 이용에 제한이 있을 수 있습니다. (추후 상황에 따라 관련
          내용 공지 예정)
        </p>
        <p>
          힐튼 서울의 객실 및 영업장을 포함한 호텔 내 모든 구역은
          금연입니다.
        </p>
      </div>

      <div class="info_tel">
        <span>예약 문의</span>
        <div class="info_wrap2">
          <div class="tel_wrap">
            <p>유선문의</p>
            <p>+82-2-753-7788</p>
          </div>
          <div class="slide"></div>
          <div class="tel_wrap">
            <p>이메일 문의</p>
            <p>seoul@hilton.com</p>
          </div>
        </div>
      </div>
    </div>
    <a href="reservation" id="rev_btn">예약하기</a>
  </section>

  <div class="list_btn"><a href="room">목록</a></div>
  <div class="fix_btn" id="side_bar">
    <button onclick="topFunction()" id="btn_top">TOP</button>
    <button type="button" id="side_share">
      <span class="material-symbols-outlined"> share </span>
    </button>
    <button>
      <span class="material-symbols-outlined"> favorite </span>
    </button>
    <button onclick="javascript:location.href='/reservation'">
      <span class="material-symbols-outlined"> calendar_month </span>
    </button>
  </div>

  <div id="Modal_Share" class="modal">
    <div class="modal_content">
      <span class="close">&times;</span>
      <div class="url">
        <p>공유하기</p>
        <a
          id="btnTwitter"
          class="link-icon twitter"
          href="javascript:shareTwitter();"
          >트위터</a
        >
        <a
          id="btnFacebook"
          class="link-icon facebook"
          href="javascript:shareFacebook();"
          >페이스북</a
        >
        <a
          id="btnKakao"
          class="link-icon kakao"
          href="javascript:shareKakao();"
          >카카오톡</a
        >
        <a
          id="btnUrl"
          class="link-icon urlimg"
          onclick="clip(); return false;"
          >URL복사
        </a>
      </div>
    </div>
  </div>
</main>
<script src="js/roomdetail.js"></script>
