<main>
    <figure class="offer_ban">
        <h2>OFFER</h2>
    </figure>
    <section class="offer_sec">
        <article class="offer_art">
            <h3>스페셜 오퍼</h3>
            <div>
                <span class="off_share"></span>
                <span class="off_print"></span>
            </div>
        </article>
        <ul>
            <li><a href="offerIn1">
                <figure class="offerImg1"></figure>
                <div class="offerTxt">
                    <h4>01</h4>
                    <h6>Millennium Hilton Seoul</h6>
                    <h5>Hilton Honors Discount Breakfast Included</h5>
                    <h5>힐튼 아너 할인 조식 포함</h5>
                    <p>투숙 최대 1일 전까지 변경 또는 취소 가능. 조식 포함. 힐튼 Honors 회원 전용.</p>
                </div>
            </a></li>
            <li><a href="offerIn2">
                <figure class="offerImg2"></figure>
                <div class="offerTxt">
                    <h4>02</h4>
                    <h6>Millennium Hilton Seoul</h6>
                    <h5>Breakfast included</h5>
                    <h5>조식 포함</h5>
                    <p>투숙 최대 1일 전까지 변경 또는 취소 가능.
                        조식 포함.</p>
                </div>
            </a></li>
            <li><a href="offerIn3">
                <figure class="offerImg3"></figure>
                <div class="offerTxt">
                    <h4>03</h4>
                    <h6>Millennium Hilton Seoul</h6>
                    <h5>Pre-paid breakfast included</h5>
                    <h5>사전결제 조식 포함</h5>
                    <p>조식 포함. 취소 불가. 바로 결제.
                        더블 힐튼 Honors 포인트 적립.</p>
                </div>
            </a></li>
            <li><a href="offerIn4">
                <figure class="offerImg4"></figure>
                <div class="offerTxt">
                    <h4>04</h4>
                    <h6>Millennium Hilton Seoul</h6>
                    <h5>Sweeten Your Stay</h5>
                    <h5>스위튼 유어 스테이</h5>
                    <p>무료 조식. 체크아웃 시 호텔 운영 서비스 25% 할인.
                        객실 요금 제외.</p>
                </div>
            </a></li>
            <li><a href="offerIn5">
                <figure class="offerImg5"></figure>
                <div class="offerTxt">
                    <h4>05</h4>
                    <h6>Millennium Hilton Seoul</h6>
                    <h5>Honors Advance Purchase Breakfast Included</h5>
                    <h5>힐튼 아너 사전 구매 조식 포함</h5>
                    <p>조식 포함. 취소 불가. 바로 결제.
                        힐튼 Honors 회원 전용.</p>
                </div>
            </a></li>
            <li><a href="offerIn6">
                <figure class="offerImg6"></figure>
                <div class="offerTxt">
                    <h4>06</h4>
                    <h6>Millennium Hilton Seoul</h6>
                    <h5>포인트 2배</h5>
                    <h5>포인트 2배</h5>
                    <p>투숙 최대 1일 전까지 변경 또는 취소 가능.
                        더블 힐튼 Honors 포인트 적립.</p>
                </div>
            </a></li>
            <li><a href="offerIn7">
                <figure class="offerImg7"></figure>
                <div class="offerTxt">
                    <h4>07</h4>
                    <h6>Millennium Hilton Seoul</h6>
                    <h5>Piccance Package</h5>
                    <h5>피크닉 세트 및 맞춤형 힐튼 캔버스 가방 최대 25% 할인</h5>
                    <p>피크닉 세트 및 맞춤형 힐튼 캔버스 가방 최대 25% 할인</p>
                </div>
            </a></li>
        </ul>
        <div class="fix_btn" id="location_side">
            <button onclick="topFunction()">TOP</button>
        </div>
    </section>
    <script src="../js/reservation.js"></script>
</main>