<main>
    <figure class="offer_ban">
        <h2>OFFER</h2>
    </figure>
    <section class="offer_sec">
        <article class="offer_art">
            <h3>스페셜 오퍼 상세</h3>
            <div>
                <span class="off_share"></span>
                <span class="off_print"></span>
            </div>
        </article>
        <article class="e_inner">
            <div class="e_all_wrap">
                <div class="e_left_box">
                    <img src="../img/main_offer_img6.png">
                </div>
                <div class="e_right_box">
                    <h2>Double Points</h2>
                    <h3>더블 포인트</h3>
                <div>
                <div class="e_txt_intro">
                    <p>더블 힐튼 Honors 포인트 적립.</p>
                </div>
                <div class="e_txt_notice"></div>
            </div>        
        </article>
        <article class="e_inner">
            <div class="e_border">
                <div class="e_notice_area">
                    <div class="e_detail_area">
                        <h3>유의사항</h3>
                        <span>
                            <p>투숙 최대 1일 전까지 변경 또는 취소 가능.</p>
                        </span>
                    </div>
                    <div class="e_num_area">
                        <h3>문의사항</h3>
                        <span>
                            <p>객실 예약과 문의는 (02) 317-3000)</p>
                        </span>
                    </div>
            </div>
        </article>
    </section>
    <article class="e_detail_more">
        <div>
            <button id="e_btn" type="button" onclick="javascript:location.href='/offer'">
                LIST
            </button>
        </div>
    </article>
    <div class="fix_btn" id="location_side">
        <button onclick="topFunction()">TOP</button>
    </div>
    <script src="../js/reservation.js"></script>
</main>