<main>
    <figure class="offer_ban">
        <h2>OFFER</h2>
    </figure>
    <section class="offer_sec">
        <article class="offer_art">
            <h3>스페셜 오퍼 상세</h3>
            <div>
                <span class="off_share"></span>
                <span class="off_print"></span>
            </div>
        </article>
        <article class="e_inner">
            <div class="e_all_wrap">
                <div class="e_left_box">
                    <img src="../img/main_offer_img4.jpg">
                </div>
                <div class="e_right_box">
                    <h2>Sweeten Your Stay</h2>
                    <h3>스위튼 유어 스테이</h3>
                <div>
                <div class="e_txt_intro">
                    <p>듀플렉스(복층) 스위트’는 밀레니엄 힐튼 서울의 클래식한 매력을 담아 고급스럽고 쾌적한 복층 타입으로 설계되어, 오로지 밀레니엄 힐튼 서울에서만 즐길 수 있는 스위트 객실로써 가족이나 친구들과 함께하는 특별한 시간에 스타일리시함을 더해줍니다.</p>
                </div>
                <div class="e_txt_notice"></div>
            </div>        
        </article>
        <article class="e_inner">
            <div class="e_border">
                <div class="e_notice_area">
                    <div class="e_detail_area">
                        <h3>유의사항</h3>
                        <span>
                            <p>무료 조식. 체크아웃 시 호텔 운영 서비스 25% 할인.
                                객실 요금 제외.</p>
                        </span>
                    </div>
                    <div class="e_num_area">
                        <h3>문의사항</h3>
                        <span>
                            <p>객실 예약과 문의는 (02) 317-3000)</p>
                        </span>
                    </div>
            </div>
        </article>
    </section>
    <article class="e_detail_more">
        <div>
            <button id="e_btn" type="button" onclick="javascript:location.href='/offer'">
                LIST
            </button>
        </div>
    </article>
    <div class="fix_btn" id="location_side">
        <button onclick="topFunction()">TOP</button>
    </div>
    <script src="../js/reservation.js"></script>
</main>