<main>
  <section class="room_s">
    <div class="rooms_title">
      <h2 class="title_59px">ROOMS</h2>
    </div>

    <div class="rooms_btn tab">
      <button id="tab_all">ALL</button>
      <button id="tab_guest">GUEST ROOMS</button>
      <button id="tab_suites">SUITES</button>
      <button id="tab_execu">EXECUTIVE</button>
    </div>

    <div class="selectbox_room">
      <select id="select">
        <option value="all" selected>ALL</option>
        <option value="guest">GUEST ROOMS</option>
        <option value="execu">EXECUTIVE</option>
        <option value="suite">SUITES</option>
      </select>
    </div>
  </section>
  <section>
    <article id="tab1" class="guestroom_info tabcontent" style="display: block">
      <ul class="propertyList">
        <li class="king_guest_room">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Room</span>
                <h3 class="color_white">KING GUEST ROOM</h3>
                <p>
                  도심 속 남산의 자연과 어우러진 게스트 룸은 넓고 채광이
                  뛰어나며, 전체적으로 차분한 톤의 느낌을 선사합니다.
                </p>

                <a href="king_guest_room" class="room_detail_w">자세히보기</a>
              </div>
              <div class="king_guest_img img_resize"></div>
            </div>
          </div>
        </li>

        <li class="twin_guest_room">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox color_black">
                <span>Room</span>
                <h3>TWIN GUEST ROOM</h3>
                <p>
                  도심 속 남산의 자연과 어우러진 게스트 룸은 넓고 채광이
                  뛰어나며, 전체적으로 차분한 톤의 느낌을 선사합니다.
                </p>

                <a href="twin_guest_room" class="room_detail_b">자세히보기</a>
              </div>
              <div class="twin_guest_img img_resize"></div>
            </div>
          </div>
        </li>

        <li class="king_deluxe_mview">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Room</span>
                <h3 class="color_white">KING DELUXE MOUNTAIN VIEW</h3>
                <p>
                  자연스럽고 모던한 나뭇결을 살린 우든월을 설치하여 중후함을
                  연출한 킹 디럭스 마운틴 뷰 객실은 비즈니스 고객과 여행객
                  모두를 배려하여 포근함과 쾌적함을 동시에 선사합니다.
                </p>

                <a href="king_deluxe_mountain" class="room_detail_w"
                  >자세히보기</a
                >
              </div>
              <div class="king_deluxe_img img_resize"></div>
            </div>
          </div>
        </li>

        <li class="twin_deluxe_mview">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox color_black">
                <span>Room</span>
                <h3>TWIN DELUXE MOUNTAIN VIEW</h3>
                <p>
                  자연스럽고 모던한 나뭇결을 살린 우든월을 설치하여 중후함을
                  연출한 트윈 디럭스 마운틴 뷰 객실은 넓고 채광이 뛰어나며,
                  전체적으로 따스하고 아늑한 느낌을 선사합니다.
                </p>

                <a href="twin_deluxe_mountain" class="room_detail_b"
                  >자세히보기</a
                >
              </div>
              <div class="twin_deluxe_img img_resize"></div>
            </div>
          </div>
        </li>

        <li class="family_premium_deluxe">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Room</span>
                <h3 class="color_white">FAMILY PREMIUM DELUXE VIEW</h3>
                <p>
                  도심 속 여유를 만끽할 수 있는 패밀리 프리미엄 디럭스 룸은
                  침실과 응접실이 분리되어 있어 보다 넓고 쾌적한 서비스를
                  제공합니다.
                </p>

                <a href="family_premium_deluxe" class="room_detail_w"
                  >자세히보기</a
                >
              </div>
              <div class="family_deluxe_img img_resize"></div>
            </div>
          </div>
        </li>
      </ul>
    </article>

    <article id="tab2" class="suites_info tabcontent" style="display: none">
      <ul class="propertyList">
        <li class="parkhill_duplex_suite">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Suite</span>
                <h3 class="color_white">PARKHILL DUPLEX SUITE</h3>
                <p>
                  세련되고 모던한 느낌의 인테리어의 파크힐 듀플렉스 스위트는
                  복층 구조로 남산을 바라보고 있어 자연의 향취를 마음껏 즐길 수
                  있는 공간입니다.
                </p>
                <a href="parkhill_duplex_suite" class="room_detail_w"
                  >자세히보기</a
                >
              </div>
              <div class="parkhill_duplex_suite_r img_resize"></div>
            </div>
          </div>
        </li>
        <li class="king_exe_suite">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox color_black">
                <span>Suite</span>
                <h3>KING EXECUTIVE SUITE</h3>
                <p>
                  넓은 응접실과 침실로 이루어진 킹 이그제큐티브 스위트는
                  비즈니스에 필요한 설비가 균형있게 갖춰져 있어 마치
                  사무실에서처럼 업무를 처리할 수 있는 성공적인 비즈니스를 위한
                  장소입니다.
                </p>

                <a href="king_executive_suite" class="room_detail_b"
                  >자세히보기</a
                >
              </div>
              <div class="king_suite_img img_resize"></div>
            </div>
          </div>
        </li>

        <li class="king_pre_suite">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Suite</span>
                <h3 class="color_white">KING PREMIER SUITE</h3>
                <p>
                  한국적인 미로 단장한 킹 프리미어 스위트는 응접실과 침실로
                  분리되어 있고 비즈니스에 필요한 최신 설비가 균형있게 갖춰져
                  있습니다.
                </p>
                <a href="king_premier_suite" class="room_detail_w"
                  >자세히보기</a
                >
              </div>
              <div class="king_pre_img img_resize"></div>
            </div>
          </div>
        </li>
        <li class="vista_duplex_suite">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox color_black">
                <span>Suite</span>
                <h3>VISTA DUPLEX 2 BEDS SUITE</h3>
                <p>
                  우아하고 고급스러운 인테리어의 비스타 듀플렉스 투 베드
                  스위트는 복층 구조로 2개의 침실과 응접실, 주방, 자쿠지 등으로
                  구성되어 있으며, 객실 내 비즈니스 미팅이 가능하게 되어
                  있습니다.
                </p>

                <a href="vista_duplex_suite" class="room_detail_b"
                  >자세히보기</a
                >
              </div>
              <div class="vista_duplex_img img_resize"></div>
            </div>
          </div>
        </li>
        <li class="nam_duplex_suite">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Suite</span>
                <h3 class="color_white">NAMDAEMOON DUPLEX SUITE</h3>
                <p>
                  최상급 귀빈만을 위한 남대문 듀플렉스 스위트는 복층 구조로 탁
                  트인 통 유리를 통해 사계절의 변화를 느낄 수 있는 남산을 한눈에
                  바라볼 수 있습니다.
                </p>
                <a href="nam_duplex_suite" class="room_detail_w">자세히보기</a>
              </div>
              <div class="nam_duplex_suite_img img_resize"></div>
            </div>
          </div>
        </li>
      </ul>
    </article>

    <article id="tab3" class="executive_info tabcontent" style="display: none">
      <ul class="propertyList">
        <li class="king_executive">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Executive</span>
                <h3 class="color_white">KING EXECUTIVE</h3>
                <p>
                  포근함을 선사하는 황금베이지색 실내장식으로 이그제큐티브 룸은
                  넓고 채광이 뛰어나며, 전체적으로 따스하고 아늑한 느낌을
                  선사합니다.
                </p>
                <a href="king_executive" class="room_detail_w">자세히보기</a>
              </div>
              <div class="king_exe_img img_resize"></div>
            </div>
          </div>
        </li>
        <li class="king_exe_mountain">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox color_black">
                <span>Executive</span>
                <h3>KING EXECUTIVE MOUNTAIN VIEW</h3>
                <p>
                  포근함을 선사하는 황금베이지색 실내장식으로 이그제큐티브
                  남산뷰 룸은 넓고 채광이 뛰어나며, 전체적으로 따스하고 아늑한
                  느낌을 선사합니다.
                </p>

                <a href="king_executive_mountain" class="room_detail_b"
                  >자세히보기</a
                >
              </div>
              <div class="king_moun_img img_resize"></div>
            </div>
          </div>
        </li>

        <li class="twin_executive">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox">
                <span>Executive</span>
                <h3 class="color_white">TWIN EXECUTIVE</h3>
                <p>
                  포근함을 선사하는 황금베이지색 실내장식으로 이그제큐티브 룸은
                  넓고 채광이 뛰어나며, 전체적으로 따스하고 아늑한 느낌을
                  선사합니다.
                </p>
                <a href="twin_executive" class="room_detail_w">자세히보기</a>
              </div>
              <div class="twin_exe_img img_resize"></div>
            </div>
          </div>
        </li>
        <li class="twin_exe_mountain">
          <div class="inner">
            <div class="infoCont">
              <div class="room_textbox color_black">
                <span>Executive</span>
                <h3>TWIN EXECUTIVE MOUNTAIN VIEW</h3>
                <p>
                  포근함을 선사하는 황금베이지색 실내장식으로 이그제큐티브
                  남산뷰 룸은 넓고 채광이 뛰어나며, 전체적으로 따스하고 아늑한
                  느낌을 선사합니다.
                </p>
                <a href="twin_executive_mountain" class="room_detail_b"
                  >자세히보기</a
                >
              </div>
              <div class="twin_moun_img img_resize"></div>
            </div>
          </div>
        </li>
      </ul>
    </article>
  </section>
  <div class="list_btn"><a href="#">목록</a></div>
  <div class="fix_btn" id="side_bar">
    <button onclick="topFunction()" id="btn_top">TOP</button>
  </div>

  <script src="js/room.js"></script>
</main>
