.king_guest_room_img {
  background-image: url(../img/king-guest-room-evening.png);
}
.twin_guest_room_img {
  background-image: url(../img/twin-guest-room-day.png);
}
.vista_duplex_suite_img {
  background-image: url(../img/vista-suite-bedroom.png);
}
.twin_execu_img {
  background-image: url(../img/selhitw-executivetwin.png);
}
.twin_execu_mt_img {
  background-image: url(../img/selhitw-executivemountaintwin.png);
}
.twin_deluxe_mt_img {
  background-image: url(../img/twin-deluxe-mt-view-evening.png);
}
.parkhill_duplex_img {
  background-image: url(../img/parkhill-suite-bedroom.png);
}
.nam_duplex_img {
  background-image: url(../img/namdaemun-suite-living-room.png);
}
.family_premium_img {
  background-image: url(../img/family-premium-deluxe.png);
}
.king_deluxe_mt_img {
  background-image: url(../img/king-deluxe-mt-view-evening.png);
}
.king_execu_mt_img {
  background-image: url(../img/selhitw-executivemountainking.png);
}
.king_execu_img {
  background-image: url(../img/selhitw-executiveking.png);
}
.king_execu_suite_img {
  background-image: url(../img/executive-suite-bedroom.png);
}
.king_pre_suite_img {
  background-image: url(../img/selhitw-premiersuite.png);
}
